<h1>Olá, <strong><%= @participant.name %></strong></h1>
<br />
<p style="font-size: 20px">Você tem um novo questionário pendente.</p>
<br />
<p style="font-size: 20px">
  Clique <a href="<%= @link %>">aqui</a> para acessar.
</p>
