<h1 class="mb-4">Novo <%= Participant.model_name.human %></h1>

<%= render partial: 'form', locals: { participant: @participant,
                                      url: participants_path,
                                      btn_text: t(:save) } %>
