<table>
  <tr>
    <th>Nome</th>
    <th>Status</th>
  </tr>
  <% @participant.participant_instruments.each do |part_inst| %>
    <tr>
      <td><%= part_inst.instrument.name %></td>
      <td><%= ParticipantInstrument.human_attribute_name("status.#{part_inst.status}") %></td>
    </tr>
  <% end %>
</table>
