<div class="alert alert-warning">Valide os dados antes de prosseguir para o questionário</div>

<%= render partial: 'form', locals: { participant: @participant,
                                      url: participant_instrument_validate_participant_path,
                                      btn_text: t(:next) } %>
