<nav class="navbar bg-body-secondary">
  <div class="container-fluid">
    <span class="navbar-text fw-bold fs-2">
      Vetor
    </span>
    <%= link_to 'Cadastrar novo avaliado', new_participant_path %>
  </div>
</nav>
